@import services.game.GameRepository._
@(title: String, games: Iterable[GameInstance])(implicit request: RequestHeader, messages: Messages)
@import helper._
@import components._
@import com.example.components.BasicComponents
@main(title) {
    @well {
        <h2>Open games</h2>
        <table class="table table-bordered">
            <tr>
                <th>Owner id:</th>
            </tr>
            @for(GameInstance(id, t, _) <- games) {
                <tr>
                    <td><a href="@CSRF(routes.GameController.joinGame(id))">@{t.name}</a></td>
                </tr>
            }
        </table>
        @form(action = CSRF(routes.GameController.createGame())) {
            @submitButton {
                "Create game"
            }
        }

    }
}