@import components._
@import com.example.model.OwnerId
@import com.example.components.BasicComponents
@import com.example.styles.JsButton
@(title: String, playerId: OwnerId, gameId: OwnerId, idToName: OwnerId => String)(implicit request: RequestHeader, messages: Messages)

@main(title) {
    @well {
        <h2>Waiting for another player:</h2>
        <img src="@routes.Assets.versioned("images/Spinner.gif")" class="img-responsive" style="padding-left: 40%; padding-top: 50px; padding-bottom: 50px">
        @scalajs.html.scripts("frontend", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
        <div id="@{BasicComponents.lobbyArea}"></div>
        <script src="@routes.GameController.lobbyFacade(gameId)"></script>
    }
}