@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
            <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.GameController.tooltipStyles()" rel="stylesheet">
        <link href="@routes.GameController.jsButtonStyles()" rel="stylesheet">
        <script src="@routes.Assets.versioned("javascripts/jquery-3.2.1.min.js")"></script>
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.MiscController.clientSideRoutes"></script>

    </head>
    <body>
        <div class="container">
            <div class="starter-template">
                <div class="lead">
                @content
                </div>
            </div>
        </div><!-- /.container -->
    </body>
</html>